{% extends "base.html" %}

{% block body %}

<h1>Hello {{user.username}}</h1>

<h1>Recipe Lists</h1>

{% for da in data %}
    <h4>Recipe</h4>
    <p>{{da.title}} by {{user.username}}</p>
    <h4>Ingredients</h4>
    <p>{{da.ingredients}}</p>
    <h4>Directions</h4>
    <p>{{da.directions}}</p>
    <p>Posted on {{da.date}}</p>

{% endfor %}

<h1>Blog</h1>

{% for write in writes %}
    <h4>Title</h4>
    <p>{{write.blog_title}}</p>
    <p>{{write.blog_body}}</p>
    <p>Posted on {{write.date}}</p>

{% endfor %}

{% endblock %}