{% extends "base.html" %}

{% block body %}

<h1>Hello 
    <a href="/profile/{{user.username}}">{{user.username}}</a>
</h1>

<h1>Recipe Lists</h1><hr>

{% for da in data %}

    <h3>
        <a href="/recipe_detail/{{da.recipe_author}}/">{{da.title}}</a>
        by {{da.recipe_author}}
    </h3>
    <h4>Ingredients</h4>
    <p>{{da.ingredients}}</p>
    <h4>Directions</h4>
    <p>{{da.directions}}</p>
    <p>Posted on {{da.date}}</p>

{% endfor %}
<hr>

<h1>Blog</h1>
<a href="{% url 'bloginsert' %}">Blog Here</a><hr>

{% for write in writes %}

    <h3>
        <a href="/blog_detail/{{write.blog_author}}">{{write.blog_title}}</a>
        by {{write.blog_author}}</a>
    </h3>
    <p>{{write.blog_body}}</p>
    <p>Posted on {{write.date}}</p>

{% endfor %}
<hr>

{% endblock %}